<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance website</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/style2.css">
    <script src="../static/index.js"></script>
</head>

<body>

    <nav>
        <img src="../static/nav.png" alt="none" class="img">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/contect">Contect</a></li>
            <li><a href="/">About us</a></li>
        </ul>
    </nav>

    <div id="form">
        <h2>Contect us</h2>
        <form action="/contect" method="post">
            <input type="text" name="name" id="name" placeholder="Enter your Name: ">
            <input type="text" name="phone" id="phone" placeholder="Enter your phone-no.: ">
            <input type="text" name="email" id="email" placeholder="Enter your Email-id.: ">
            <input type="text" name="age" id="age" placeholder="Enter your age: ">
            <button id="submit" name="submit" onclick="f1()">Submit</button>
        </form>
    </div>

    <footer id="footer">
        <pre>&#169;Copyright | All rights are reserved!</pre>
    </footer>

    

</body>



</html>