<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance website</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/index.js"></script>
</head>

<body>

    <nav>
        <img src="../static/nav.png" alt="none" class="img">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Services</a></li>
            <li><a href="/contect">Contect</a></li>
            <li><a href="/">About us</a></li>
        </ul>
    </nav>

    <section id="image">
        <pre id="p1">Welcome to Dance Academy</pre>
        <pre id="p2">Eat Sleep Dance Repeat</pre>

    </section>

    <section id="cards">
        <pre id="p3">Cards</pre>
        <hr>
        <section id="cards1">
            <div class="card">
                <h2>Dance perfection</h2>
                <hr>
                <p id="p4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora nam non illo
                    undeet esse eligendi dolor dignissimos minima?</p>
            </div>
            <div class="card">
                <h2>Dance the way you like</h2>
                <hr>
                <p id="p4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora nam non illo
                    undeet esse eligendi dolor dignissimos minima?</p>
            </div>
            <div class="card">
                <h2>Expert teaching</h2>
                <hr>
                <p id="p4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora nam non illo
                    undeet esse eligendi dolor dignissimos minima?</p>
            </div>
        </section>
    </section>

    <section id="sponsers">
        <pre id="p5">Sponsers</pre>
        <div id="images">
            <img src="../static/imgg-1 (1).png" alt="Image" class="image">
            <img src="../static/imgg-1 (2).png" alt="Image" class="image">
            <img src="../static/imgg-1 (3).png" alt="Image" class="image">
            <img src="../static/imgg-1 (4).png" alt="Image" class="image">
        </div>
    </section>

    <footer id="footer">
        <pre>&#169;Copyright | All rights are reserved!</pre>
    </footer>

</body>

</html>